* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.navb {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 69px;
    gap: 30px;
    list-style: none;
    cursor: pointer;
    font-size: 30px;
}
.logo {
    margin-top: 10px;
}

.btn-1 {
    display: flex;
    align-items: center;
    padding: 12px;
    margin-left: 700px;
    background-color: rgb(8, 8, 8);
    border: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}
.btn-1:hover{
    background-color: rgb(2, 2, 2);
    color: rgb(224, 23, 23);
    border: 2px solid rgb(224, 23, 23);
}
.main{
    display: flex;
    width: 100%;
}
.left-sec{
    width: 46%;
    margin: 20px;
    padding: 69px;
}
h1{
    font-size: 50px;
}
p{
    font-size: 18px;
    margin-top: 20px;
}
span{
    color: blueviolet;
}
.right-sec{
    display: flex;
    width: 54%;
}
.btn-2{
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 12px;
    background-color: rgb(70, 21, 204);
    border: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}
.btn-2:hover{
    background-color: rgb(2, 2, 2);
    color: rgb(224, 23, 23);
    border: 2px solid rgb(224, 23, 23);
}
